*.sw?
*.o
*.pyc
*.aux
*.dvi
*.log
.DS_Store
moc_*
*.dSYM
*.d
!host-tools/toolchain-c33/binutils/files/gas/testsuite/gas/c33/*.d
*.asm33
gcc
gcc-*
binutils
binutils-*
install
KERNEL*
*.map
*.elf
stamp-*
/image*
/screen.pgm
/*.zim
work*
*.xml
log
build
backup
