CONFIG_EXPERT=y
CONFIG_EMBEDDED=y
CONFIG_PRINTK=y
CONFIG_BUG=y
CONFIG_INITRAMFS_SOURCE=""
CONFIG_BINFMT_FLAT=y
CONFIG_FLATMEM_MANUAL=y
CONFIG_FLATMEM=y
CONFIG_SLOB=y
CONFIG_BLK_DEV_INITRD=y
CONFIG_MODULES=n
CONFIG_SMP=n
CONFIG_PREEMPT_NONE=y
CONFIG_CROSS_MEMORY_ATTACH=n
CONFIG_COREDUMP=n
CONFIG_AIO=n
CONFIG_IO_URING=n
CONFIG_NET=n
CONFIG_BLOCK=n
CONFIG_DEVTMPFS=y
CONFIG_TTY=y
CONFIG_SERIAL_EARLYCON=y
CONFIG_VT=n
CONFIG_UNIX98_PTYS=n
CONFIG_INPUT=n
CONFIG_HID=n
CONFIG_MEDIA_SUPPORT=n
CONFIG_I2C=n
CONFIG_HWMON=n
CONFIG_PCI=n
CONFIG_USB_SUPPORT=n
CONFIG_SOUND=n
CONFIG_DRM=n
CONFIG_FB=n
CONFIG_SERIO=n
CONFIG_HW_RANDOM=n
CONFIG_PROC_FS=y
CONFIG_SYSFS=y
CONFIG_TMPFS=y
CONFIG_DEBUG_KERNEL=y
CONFIG_DEBUG_INFO_NONE=y
CONFIG_FRAME_POINTER=y
