CONFIG_BUSYBOX=y
CONFIG_SHOW_USAGE=y
CONFIG_STATIC=y
CONFIG_NOMMU=y
CONFIG_LFS=y
CONFIG_INSTALL_APPLET_DONT=y
CONFIG_FEATURE_BUFFERS_USE_MALLOC=y
CONFIG_CAT=y
CONFIG_ECHO=y
CONFIG_FALSE=y
CONFIG_LS=y
CONFIG_PRINTF=y
CONFIG_PWD=y
CONFIG_TRUE=y
CONFIG_UNAME=y
CONFIG_SH_IS_HUSH=y
CONFIG_BASH_IS_NONE=y
CONFIG_HUSH=y
CONFIG_FEATURE_SH_STANDALONE=y
CONFIG_FEATURE_SH_NOFORK=y
