CONFIG_BUSYBOX=y
CONFIG_SHOW_USAGE=y
CONFIG_STATIC=y
CONFIG_NOMMU=y
CONFIG_LFS=y
CONFIG_INSTALL_APPLET_DONT=y
CONFIG_FEATURE_BUFFERS_USE_MALLOC=y
CONFIG_CAT=y
CONFIG_ECHO=y
CONFIG_FALSE=y
CONFIG_KILL=y
CONFIG_LS=y
CONFIG_MKDIR=y
CONFIG_PRINTF=y
CONFIG_PWD=y
CONFIG_SLEEP=y
CONFIG_TRUE=y
CONFIG_UNAME=y
CONFIG_DMESG=y
CONFIG_MOUNT=y
CONFIG_REBOOT=y
CONFIG_INIT=y
CONFIG_FEATURE_USE_INITTAB=y
CONFIG_FEATURE_INIT_SCTTY=y
CONFIG_SH_IS_HUSH=y
CONFIG_BASH_IS_NONE=y
CONFIG_HUSH=y
CONFIG_HUSH_IF=y
CONFIG_FEATURE_SH_STANDALONE=y
CONFIG_FEATURE_SH_NOFORK=y
